#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

/*body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #161617;
}*/

.homep {
  margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #161617;
    /*background-image: url(my-background-purple-3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;*/
}

.case_st {
  /*background: url("waves_color_image.jpg") no-repeat;
  background-size: cover;*/
  background-color: #161617;
}

.case_st_cards {
  display: flex;
  justify-content: space-between;
  /*align-items: center;*/
  align-items: center;
  margin-left: 6vw;
  margin-right: 6vw;
}

.sidebyside {
  display: flex;
  justify-content: space-between;
  /*align-items: center;*/
  align-items: top;
  /*margin-left: 6vw;
  margin-right: 6vw;*/
}

.cards{
  /*height: 1px;*/
  height: 5px;
  border-width: 0px;
  color: #fefefe;

  /*background-image: linear-gradient(to left, #161617 , #fefefe);*/
  /*background-image: linear-gradient(to left, rgba(169, 162, 246, 0) , #161617);*/

  background-color: #161617;
  border-radius: 20px;
}

.cardline {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
}

.indiv_card {
  width: 27vw;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.07);
  /*background-color: orange;*/
  padding-bottom: 5px;
}

.indiv_card_invisible {
  width: 27vw;
  text-align: center;
  /*background-color: rgba(255, 255, 255, 0.07);*/
  /*background-color: orange;*/
  padding-bottom: 5px;
}

.text-invisb {
  color: rgba(255, 255, 255, 0);;
}

.card-img {
  width: 100%;
  height: 100%;
}

/*.card-img-meh {
  width: 100%;
  height: 75%;
  background-image: url('pic-o-me-2-noshadow-bnw.png');

  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /*border-radius: 300px;*/ /*300px*/
  /*display: flex;*/
    /*justify-content: center;
    align-items: center;*/
  /*transition: background-image 0.3s ease;*/

  /*background-color: orange;*/
/*}*/

.card_title {
  text-align: left;
  padding-top: 35px;
  padding-bottom: 0px;
  padding-left: 25px;
  padding-right: 25px;
  color: #fefefe;
}

.card-title-link {
  color: #fefefe;
}

.styledlink {
  text-decoration: none;
}

.card-title-link:hover {
  color: rgba(169, 162, 246, 1);
  /*color: rgba(255, 255, 255, 0.65);*/
  cursor:pointer;
}

.card_desc {
  text-align: left;
  color: rgba(255, 255, 255, 0.65);
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 25px;
  padding-right: 25px;
}

.card_tags {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 25px;
}

.card_tags_mobile1 {
  display: none;
}

.card_tags_small {
  display: none;
}

.card_tags_supersmall {
  display: none;
}

.tagfont {
  font-size: 0.618rem;
}

.tago {
  padding: 5px 15px;
  background-color: rgba(169, 162, 246, 0.15);
  border: 3px solid rgba(169, 162, 246, 1);
  color: rgba(169, 162, 246, 1);
  /*color: #373752;*/
  border-radius: 25px;
}

.tago-invi {
  padding: 5px 15px;
  background-color: rgba(169, 162, 246, 0);
  border: 3px solid rgba(169, 162, 246, 0);
  color: rgba(169, 162, 246, 0);
  /*color: #373752;*/
  border-radius: 25px;
}

.extraextra {
  margin-bottom: 75px;
}

.wrapback {
  background-color: rgba(0,0,0,0.65);
}

.wrapfront {
  /*background-color: rgba(255,255,255,0.3);*/
  background-image: linear-gradient(to right, rgba(22,22,23,0), rgba(22,22,23,1), rgba(22,22,23,1));
}

input[type=button] {
  cursor:pointer;
}

.newbuttn {
  cursor: pointer;
}

/*-------------Typography stuff----------------*/

.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .lato-light-me {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 170%;
  }
  
  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .lato-regular-me {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 170%;
  }
  
  .lato-semi-bold {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  .lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  .lato-black-me {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
    line-height: 170%;
  }
  
  .lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  

/*-------- End of Typography stuff --------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato;
}

html {
    font-size: 16px;
}

.topmenu {
    background-color: #161617; /*-only thing from the old version-*/
    position: relative;
    /*position: fixed;
    top: 0;*/
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    /*box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.6);*/
    /*box-shadow: 0px 10px 45px 10px rgba(255, 255, 255, 0.08);*/
    transition: 0.3s;
}

.topmenufooter {
  background-color: #161617; /*-only thing from the old version-*/
  /*background-image: linear-gradient(to right, rgba(22,22,23,0), rgba(22,22,23,1));*/
  /*position: relative;*/
  position: static;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 200px;
  padding-top: 12px;
  padding-bottom: 12px;
  /*box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.6);*/
  /*box-shadow: 0px 10px 45px 10px rgba(255, 255, 255, 0.08);*/
  transition: 0.3s;
}

.emphasis{
  color: rgba(213, 232, 42, 0.65);
  margin: 5px;
}

.emphasis2{
  /*color: rgba(2249, 165, 94, 1);*/
  color: rgb(232, 139, 64);
  margin: 5px;
}

.emphasis3{
  /*color: rgba(2249, 165, 94, 1);*/
  color: #5498fe;
  /*color: #7fb2fe;*/
  margin: 5px;
}

.emphasis{
  margin: 5px;
}

.details{
  display: flex;
  margin-left: 20vw;
  margin-right: 20vw;
  justify-content: space-between;
  margin-bottom: 50px;
  /*background-color: orange;*/
  /*font-size: 1.618rem;*/
}

.details_medsmall {
  /*margin-bottom: 100px;*/
  display: none;
}

.details_medsmall2 {
  display: none;
}

/*.details_medmed {
  display: none;
}*/

.one_detail {
 display: flex;
 align-items: center;
 /*width: 100%;*/
 /*background-color: blue;*/
}

.li_wide {
margin-top: 70px;
margin-bottom: 70px;
margin-left: 20vw;
font-size: 1.618rem;
line-height: 200%;
/*color: rgba(213, 232, 42, 0.65);*/
color: #fefefe;
}

.table-title {
  background-color: rgba(213, 232, 42, 0.65);
  padding: 15px;
  margin: 20px 7px;
  text-align: center;
}

.table-content {
  color: #161617;
  background-color: #fefefe;
  padding: 20px;
  margin: 20px 7px;
}

.linktext {
  color: #d5e82a;
  font-size: 1rem;
  /*padding-bottom: 500px;*/
}

.linktext2 {
  color: rgb(255, 159, 80);
  font-size: 1rem;
  /*padding-bottom: 500px;*/
}

.linktext3 {
  color: #a9cbfe;
  font-size: 1rem;
  /*padding-bottom: 500px;*/
}

.hightext3 {
  color: #a9cbfe;
  /*padding-bottom: 500px;*/
}

.hightextzoo {
  color: rgb(242, 166, 105);
  /*padding-bottom: 500px;*/
}

.linktext3:hover {
  color: rgba(169, 203, 254, 0.65);
  font-size: 1rem;
  /*padding-bottom: 500px;*/
}

.linktext2:hover {
  color: rgba(255, 159, 80, 0.65);
  font-size: 1rem;
  /*padding-bottom: 500px;*/
}

.linktext:hover {
  color: rgba(213, 232, 42, 0.65);
  font-size: 1rem;
  /*padding-bottom: 500px;*/
}

#linkmargin {
  margin-bottom: 50px;
  margin-top: 5px;
}

#linkmargin2 {
  margin-bottom: 50px;
  margin-top: 15px;
}

.imgtitle {
  margin-bottom: 5px;
  padding-top: 50px;
  color:#fefefe
}

.column1 {
  display: inline-block;
  width: 25vw;
  
}

.simple_table {
  text-align: center;
  /*display: flex;*/
  /*justify-content: space-around;*/
     margin-left: 20vw;
     margin-right: 20vw;
  /*padding-left: 1px;
  padding-right: 1px;*/
  /*background-color: aqua;*/
}

.logot a {
  display: block;
  padding-left: 25px;
}

.logot a img {
  display: block;
  width: 100%;
}

.navigationt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menut {
  padding-right: 25px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  z-index: 1;
  transition: 0.5s;
}

.menut li {
  list-style: none;
  transition: 0.3s;
}

.menut li a {
  color: #fefefe;
  text-decoration: none;
  padding: 12px 22px 12px 22px;
  font-size: 1rem;
  line-height: 1;
  transition: 0.3s;
}

.menut li a:hover {
  box-shadow: 0 -2px 0px #fefefe inset, 500px 0 0 rgba(255, 255, 255, 0.03) inset;
  padding: 12px 22px 12px 22px;
}

.hamburger {
  position: relative;
  width: 25px;
  height: 4px;
  background: #fefefe;
  border-radius: 10px;
  cursor: pointer;
  z-index: 2;
  transition: 0.3s;
}

.hamburger:before, .hamburger::after {
  content: "";
  position: absolute;
  height: 4px;
  right: 0px;
  background: #fefefe;
  border-radius: 10px;
  transition: 0.3s;
}

.hamburger:before {
 top: -10px;
 width: 25px;
}

.hamburger:after {
  top: 10px;
  width: 25px;
}

.toggle-menu {
  position: absolute;
  width: 25px;
  height: 100%;
  z-index: 3;
  cursor: pointer;
  opacity: 0;
}

.hamburger, .toggle-menu {
  display: none;
}

.navigationt input:checked ~ .hamburger {
  background: transparent;
  position: absolute;
}

.navigationt input:checked ~ .toggle-menu {
  position: fixed;
  z-index: 9999;
}

.navigationt input:checked ~ .navigationt {
  position: fixed;
  z-index: 9999;
}

.navigationt input:checked ~ .hamburger:before {
  top: 0;
  transform: rotate(-45deg);
  width: 25px;
}

.navigationt input:checked ~ .hamburger:after {
  top: 0;
  transform: rotate(45deg);
  width: 25px;
}

.navigationt input:checked ~ .menut {
  display: block;
}

.menu-itemss {
    float: right;
    padding-top: 15px;
    padding-right: 25px;
    background: #161617;
}

#menu-item{
    background: #161617;
    border: 1px solid #fefefe;
    border-radius: 0px; 
    color: #fefefe;
    width: 110px;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    margin-left: 20px;
    box-shadow: none;
    transition: transform 0.25s;
  }

  #menu-item:hover {
    transform: translate(1px, -3px);
    box-shadow: -2px 3px 0px 0px #fefefe;
  }

  .my-logo{
    margin-top: 8px;
    margin-bottom: 6px;
    margin-left: 25px;
  }

.toptop{
    height: 1px;
    border-width: 0px;
    color: #fefefe;
    background-image: linear-gradient(to right, #161617 , #fefefe);
}

.menu-logo {
    color: #fefefe;
}

.linejump {
  margin-bottom: 32px;
}

.big-text {
  text-align: center;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-bottom: 100px;
  margin-top: 50px;
  /*color: rgba(255, 255, 255, 0.25);*/
}

.big-text-2 {
  text-align: center;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-bottom: 100px;
  margin-top: 25px;
}

.big-text-2aa {
  text-align: center;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-bottom: 20px;
  margin-top: 25px;
}

.big-text-only {
  text-align: center;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-bottom: 50px;
  margin-top: 60px;
}

.big-text-3 {
  text-align: center;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-bottom: 100px;
  margin-top: 50px;
}

.big-text-4 {
  text-align: center;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-bottom: 50px;
  margin-top: 50px;
}

.big-text-content-font {
  font-size: 1.618rem;
}
.big-text-content-font-spec {
  font-size: 1.618rem;
  padding-bottom: 25px;
}

.big-text-content-font-2 {
  padding-top: 25px;
  font-size: 1.618rem;
  /*background-color: blue;*/
  /*font-size: 1rem;*/
}

.big-text-content-font-3 {
  padding-bottom: 25px;
  font-size: 1.618rem;
}

.big-text-content-font-4 {
  text-align: center;
  padding-bottom: 25px;
  font-size: 1.618rem;
  /*margin-top: 0px;*/
}

.main-section {
    color: #fefefe;
    /*padding-top: 72px;*/
    padding-top: 72px;
    /*height: 42vw;*/
    /*background-color: red;*/
    /*padding-bottom: 100px;*/
}

.main-section2 {
  color: rgba(255, 255, 255, 0.8);
  /*padding-top: 72px;*/
  padding-top: 72px;
  /*height: 42vw;*/
  /*background-color: red;*/
  /*padding-bottom: 100px;*/
}

.main-section3 {
  color: rgba(255, 255, 255, 0.8);
  /*padding-top: 72px;*/
  padding-top: 72px;
  /*padding-left: 6vw;
  padding-right: 6vw;*/
  /*height: 42vw;*/
  /*background-color: red;*/
  /*padding-bottom: 100px;*/
}

.newone {
  /*text-align: left;*/
  /*background-color: #68639F;*/
  display: flex;
  justify-content: space-between;
  margin-left: 6vw;
  margin-right: 6vw;
  /*padding-left: 20vw;
  padding-right: 20vw;*/
}

.newone-mobile {
  display: none;
}

.newone-wrapper {
  padding-left: 0px;
  padding-right: 0px;
}

.newone-spec {
  /*text-align: left;*/
  /*background-color: #68639F;*/
  display: flex;
  justify-content: space-between;
  margin-left: 6vw;
  margin-right: 6vw;
  margin-bottom: 75px;
  /*padding-left: 20vw;
  padding-right: 20vw;*/
}

.newone2 {
  /*text-align: left;*/
  /*background-color: #68639F;*/
  display: flex;
  justify-content: space-between;
  margin-left: 6vw;
  margin-right: 6vw;
  margin-top: 50px;
  /*padding-left: 20vw;
  padding-right: 20vw;*/
}

.newleft {
  display: inline-block;
  /*background-color: blue;*/
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 1%;
  padding-right: 10%;
  flex: 1 0 50%;
  /*width: 40%;*/
}

.newleft-a {
  display: inline-block;
  /*background-color: blue;*/
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 1%;
  padding-right: 1%;
  flex: 1 0 50%;
  /*width: 40%;*/
}

.newright {
  /*display: inline-block;*/
  /*background-color: red;*/
  flex: 1 0 50%;
  /*padding-right: 20%;*/
  /*width: 40%;*/

}

.newright-a {
  /*display: inline-block;*/
  /*background-color: red;*/
  flex: 1 0 50%;
  /*padding-right: 20%;*/
  /*width: 40%;*/

}

.newleft2 {
  /*display: inline-block;*/
  /*background-color: red;*/
  margin-right: 20px;
  /*flex: 1 0 10%;*/
  /*padding-right: 20%;*/
  /*width: 40%;*/
}

.newright2 {
  /*display: inline-block;*/
  /*background-color: red;*/
  margin-left: 20px;
  /*flex: 1 0 10%;*/
  /*padding-right: 20%;*/
  /*width: 40%;*/
}

.newright3 {
  /*margin-left: 20vw;
  margin-right: 20vw;*/
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 25px;
}

.bullets {
  background-color: rgba(255, 255, 255, 0.07);
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 5%;
  padding-right: 3%;
  box-shadow: -5px 0px 0px 0px rgba(213, 232, 42, 0.65);
  margin: 15px;
}

.bullets2 {
  background-color: rgba(255, 255, 255, 0.07);
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 5%;
  padding-right: 3%;
  box-shadow: -5px 0px 0px 0px rgba(232, 139, 64, 0.85);
  margin: 15px;
}

.bullets3 {
  background-color: rgba(255, 255, 255, 0.07);
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 5%;
  padding-right: 3%;
  box-shadow: -5px 0px 0px 0px rgba(84, 152, 254, 0.85);
  margin: 15px;
}

.bulletsblack {
  background-color: rgba(253, 253, 253, 1);
  color: #161617;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 5%;
  padding-right: 3%;
  /*box-shadow: -5px 0px 0px 0px rgba(84, 152, 254, 0.85);*/
  margin: 15px;
}

.mainblue {
  color: #0066ff;
}

.mainpurple {
  color: #805BF5;
}

.bullets-group {
  margin-bottom: 60px;
}

.bullets-group-2 {
  margin-bottom: 30px;
}

.bullets-altern {
  /*background-color: rgba(255, 255, 255, 0);*/
  background-color: #4d540a;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 5%;
  padding-right: 3%;
  /*border-style: solid;
  border-color:  #fefefe;*/
  /*box-shadow: -5px 2px 0px 0px 0px #fefefe;*/
  margin: 15px;
}

.bullets-altern-2 {
  /*background-color: rgba(255, 255, 255, 0);*/
  background-color: rgba(170, 78, 3, 0.9);
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 5%;
  padding-right: 3%;
  /*border-style: solid;
  border-color:  #fefefe;*/
  /*box-shadow: -5px 2px 0px 0px 0px #fefefe;*/
  margin: 15px;
}

.bullets-altern-3 {
  /*background-color: rgba(255, 255, 255, 0);*/
  background-color: rgba(2, 53, 129, 0.9);
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 5%;
  padding-right: 3%;
  /*border-style: solid;
  border-color:  #fefefe;*/
  /*box-shadow: -5px 2px 0px 0px 0px #fefefe;*/
  margin: 15px;
}

.sub-bullets {
  background-color: rgba(255, 255, 255, 0.07);
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 5%;
  padding-right: 3%;
  box-shadow: -5px 0px 0px 0px rgba(213, 232, 42, 0.65);
  margin-left: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
}

.sub-bullets-2 {
  background-color: rgba(255, 255, 255, 0.07);
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 5%;
  padding-right: 3%;
  box-shadow: -5px 0px 0px 0px rgba(232, 139, 64, 0.85);
  margin-left: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
}

.sub-bullets-3 {
  background-color: rgba(255, 255, 255, 0.07);
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 5%;
  padding-right: 3%;
  box-shadow: -5px 0px 0px 0px rgba(84, 152, 254, 0.85);
  margin-left: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
}

.bullets-title {
  background-color: rgba(255, 255, 255, 0.07);
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 5%;
  padding-right: 3%;
  box-shadow: 0px 5px 0px 0px rgba(213, 232, 42, 0.65);
}

.bullets-title-1a {
  background-color: rgba(255, 255, 255, 0.07);
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 5%;
  padding-right: 3%;
  box-shadow: 0px 5px 0px 0px rgba(213, 232, 42, 0.65);
  margin-top: 25px;
}

.bullets-title-2 {
  background-color: rgba(255, 255, 255, 0.07);
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 5%;
  padding-right: 3%;
  box-shadow: 0px 5px 0px 0px rgba(232, 139, 64, 0.85);
}

.bullets-title-3 {
  background-color: rgba(255, 255, 255, 0.07);
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 5%;
  padding-right: 3%;
  box-shadow: 0px 5px 0px 0px #7fb2fe;
}

p {
  /*margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 20vw;
  margin-right: 20vw;
  font-size: 1.618rem;*/
  font-size: 1rem;
}

.iframe_container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  margin-bottom: 100px;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.img_p_div {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20vw;
  margin-right: 20vw;
  /*display: flex;
  justify-content:space-between;*/
  /*background-color: orange;*/
  text-align: center;
}

.img_p_div_2 {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 30vw;
  margin-right: 30vw;
  /*display: flex;
  justify-content:space-between;*/
  /*background-color: orange;*/
  text-align: center;
}

.illustration {
  text-align: center;
}

.illustration2 {
  text-align: center;
  padding: 3px;
  /*max-height: 25vh;*/
}

.img_p_div_link {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20vw;
  margin-right: 20vw;
  /*display: flex;
  justify-content:space-between;*/
  /*background-color: orange;*/
  text-align: center;
}

.img_p_div_link_title {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 20vw;
  margin-right: 20vw;
  /*display: flex;
  justify-content:space-between;*/
  /*background-color: orange;*/
  text-align: center;
}

.title_div {
  margin-top: 25px;
  margin-bottom: 96px;
  margin-left: 20vw;
  margin-right: 20vw;
  /*display: flex;
  justify-content:space-between;*/
  /*background-color: orange;*/
  text-align: left;
}

.title_div2 {
  margin-top: 25px;
  margin-bottom: 96px;
  margin-left: 20vw;
  margin-right: 20vw;
  /*display: flex;
  justify-content:space-between;*/
  /*background-color: orange;*/
  text-align: center;
}

.title_div2a {
  margin-top: 96px;
  margin-bottom: 0px;
  margin-left: 20vw;
  margin-right: 20vw;
  /*display: flex;
  justify-content:space-between;*/
  /*background-color: orange;*/
  text-align: center;
}

.title_div_comingup {
  margin-top: 25px;
  padding-bottom: 216px;
  margin-left: 20vw;
  margin-right: 20vw;
  /*display: flex;
  justify-content:space-between;*/
  /*background-color: orange;*/
  text-align: center;
}

.title_div_contactme {
  margin-top: 25px;
  padding-bottom: 25px;
  margin-left: 20vw;
  margin-right: 20vw;
  /*display: flex;
  justify-content:space-between;*/
  /*background-color: orange;*/
  text-align: center;
}

.subtitle_div {
  color: green;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 20vw;
  margin-right: 20vw;
  /*display: flex;
  justify-content:space-between;*/
  /*background-color: orange;*/
  text-align: left;
}

.subtitle_div_2 {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 6vw;
  margin-right: 6vw;
  /*margin-left: 20vw;
  margin-right: 20vw;*/
  /*display: flex;
  justify-content:space-between;*/
  /*background-color: orange;*/
  text-align: left;
}

.subtitle_div_3 {
  margin-top: 50px;
  margin-bottom: 25px;
  margin-left: 6vw;
  margin-right: 6vw;
  /*margin-left: 20vw;
  margin-right: 20vw;*/
  /*display: flex;
  justify-content:space-between;*/
  /*background-color: orange;*/
  text-align: center;
}

.minititle_div {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 20vw;
  margin-right: 20vw;
  /*display: flex;
  justify-content:space-between;*/
  /*background-color: orange;*/
  text-align: left;
}

.myemail_div {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20vw;
  margin-right: 20vw;
  /*display: flex;
  justify-content:space-between;*/
  /*background-color: orange;*/
  text-align: center;
}

.img_p {
  max-width: 100%;
}

.one {
    width: 42vw;
    height: 42vw;
    float: left;
    margin-left: 25px;
}

.one-child {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 300px; /*300px*/
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-image 0.3s ease;
}

/*.one-child:hover {
  border: 3px solid rgba(255, 255, 255, 0.6);
}*/

#one-child-again {
  background-image: url('pic-o-me-2-noshadow-bnw.png');

  /*transition: 0.3s ease;*/
  /*border: 3px solid rgba(255, 255, 255, 0);
  background-color: #161617;*/
}

#one-child-again:hover {
  /*background-image: url('dark-pic-stroke-4.png');*/
  background-image: url('new_hover_transparent.png');

  /*background-image: none;*/
  /*background-color: #161617;*/
  /*scale: 0.5;*/
  /*border: 3px solid rgba(255, 255, 255, 0.6);*/
}

.two {
    /*width: 58vw;*/
    margin-left: 42vw;
    margin-right: 25px;
    text-align: right;
    /*height: 42vw;*/
    height: 100vh;
    /*background-color: green;*/
}

#my-name{
    font-size: 6.854rem; 
    color: #fefefe;
}

#title2{
  font-size: 4.236rem; 
  color: #fefefe;
}

#profession{
padding-top: 8px;
font-size: 4.236rem;
color: #A9A2F6;
}

#subtitle2{
  padding-top: 60px;
  font-size: 4.236rem;
  color: rgba(213, 232, 42, 0.65);
  }

#subtitle3{
    padding-top: 60px;
    font-size: 4.236rem;
    color: rgba(243, 126, 28, 0.80);
    /*color: rgb(226, 136, 63);*/
  }

#subtitle4{
    padding-top: 60px;
    font-size: 4.236rem;
    color: #5498fe;
    /*color: rgb(226, 136, 63);*/
}

#subtitle4a{
  padding-top: 60px;
  padding-bottom: 25px;
  font-size: 4.236rem;
  color: #5498fe;
  /*color: rgb(226, 136, 63);*/
}

#subtitle4b{
  padding-top: 60px;
  padding-bottom: 25px;
  font-size: 4.236rem;
  color: #fefefe;
  /*color: rgb(226, 136, 63);*/
}

#slogan{
padding-top: 40px;
font-size: 2.618rem;
color: rgba(255, 255, 255, 0.8);
}

#sub_subtitle{
  padding-top: 10px;
  font-size: 2.618rem;
  /*color: #d5e82a;*/
  color: rgba(213, 232, 42, 0.85);
  }

#sub_subtitle_2{
  padding-top: 10px;
  font-size: 2.618rem;
  /*color: #d5e82a;*/
  /*color: rgb(226, 136, 63);*/
  color: rgb(253, 144, 55);
}

#sub_subtitle_3{
  padding-top: 10px;
  font-size: 2.618rem;
  /*color: #d5e82a;*/
  /*color: rgb(226, 136, 63);*/
  color: #7fb2fe;
}

#sub_subemail{
  padding-top: 10px;
  font-size: 2.618rem;
  /*color: #d5e82a;*/
  color: rgba(255, 255, 255, 0.8);
}

.big-buttons{
    display: flex;
    float: right;
    align-items: center;
   
    margin-top: 56px;
    /*background-color: blue;*/
}

.icons{
float: right;
background-color: orange;

}

#cta-buttons{
    color: #C2BCFD;
    float: right;
    width: 186px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 30px;
    font-size: 1.618rem;
    /*background-color: #161617;*/
    background-color: rgba(255, 255, 255, 0);
    box-shadow: none;
    border: 3px solid #C2BCFD;
    transition: transform 0.25s;
}

#cta-buttons:hover {
    color: #fefefe;
    border: 3px solid #fefefe;
    transform: translate(3px, -5px);
    box-shadow: -3px 3px 0px 0px #fefefe;
  }

#cta-buttons-2{
    color: #fefefe;
    float: right;
    width: 186px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 30px;
    font-size: 1.618rem;
    background-color: #68639F;
    box-shadow: none;
    border: 3px solid #68639F;
    transition: transform 0.25s;
}

#cta-buttons-2:hover {
    transform: translate(3px, -5px);
    background-color: rgba(255, 255, 255, 0);
    border: 3px solid #fefefe;
    box-shadow: -3px 3px 0px 0px #fefefe;
  }

  .cta-buttons-3{
    color: #C2BCFD;
    display: none;
    /*float: right;*/
    width: 186px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 0px;
    font-size: 1.618rem;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: none;
    border: 3px solid #C2BCFD;
    transition: transform 0.25s;
}

.cta-buttons-3:hover {
    transform: translate(3px, -5px);
    color: #fefefe;
    border: 3px solid #fefefe;
    box-shadow: -3px 3px 0px 0px #fefefe;
  }

  .one-child:hover > .cta-buttons-3 {
    display: block; /* Show the child element when the parent is hovered */
}

.darklayer{
  display: none;
  /*border: 3px solid #fefefe;*/
  transition: transform 0.25s;
}

.one-child:hover > .darklayer {
  display: block; /* Show the child element when the parent is hovered */
}

.horizontal {
    display: inline-block;
}

#small-logos{
    padding-left: 15px;
    padding-right: 15px;
    top: 50%;
}

#small-logos-left{
    padding-right: 15px;
}

#small-logos-right{
    padding-left: 15px;
}

#shorty-right{
    height: 1px;
    border-width: 0px;
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.6);
    width: 50px;
    margin-left: 15px;
}

#shorty-left{
    height: 1px;
    border-width: 0px;
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.6);
    width: 50px;
    margin-right: 15px;
}

#shorty-right-2{
    height: 1px;
    border-width: 0px;
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.6);
    width: 100px;
    margin-left: 15px;
}

#shorty-left-2{
    height: 1px;
    border-width: 0px;
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.6);
    width: 100px;
    margin-right: 15px;
}

.my_footer { 
    display: flex;
    align-items: center;
    color: #fefefe;
    float: right;
    margin-right: 25px;
    position: static;
    /*top: 400px;*/
    bottom: 0px;
    right: 0px;
    left: 0px;
    padding-top: 0px;
    background-color: purple;
    padding-bottom: 15px; 
    margin-top: 64px; 
}

.super-footer {
  
  /*margin-top: 64px;*/
  padding-top: 200px;
  /*padding-top: 200px;*/
  position: static;
  /*top: 400px;*/
  bottom: 0px;
  right: 0px;
  left: 0px;
  /*background-color: #161617;*/
  display: flex;
  justify-content: space-between;
}

.extra-footer {
  background-color: #161617;
}

.footer-container {
  padding-left: 25px;
  padding-right: 25px;
  float: right;
  padding-bottom: 16px;
  padding-top: 8px;
  background-color: #161617;
}

.footer-flexi {
  display: flex;
  align-items: center;
  background-color: #161617;
}

#the-footer {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.65);
}

@keyframes slide_anim {
 from{
  transform: translateX(-300px);
  opacity: 0;
 }

 to{
  transform: translateX(0px);
  opacity: 1;
 }
}

@keyframes scale_anim {
  from{
   transform: scale(0, 0);
   opacity: 0;
  }
 
  to{
   transform: scale(1, 1);
   opacity: 1;
  }
 }

 @keyframes opac_anim {
  from{
   opacity: 0;
  }
 
  to{
   opacity: 1;
  }
 }

.textanim1 {
  animation-name: slide_anim;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0s;

}

.textanim2 {
  animation-name: slide_anim;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0.1s;
  animation-fill-mode: backwards;
}

.textanim3 {
  animation-name: slide_anim;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0.2s;
  animation-fill-mode: backwards;
}

.textanim4 {
  animation-name: slide_anim;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0.3s;
  animation-fill-mode: backwards;
}

.textanim5 {
  animation-name: slide_anim;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0.4s;
  animation-fill-mode: backwards;
}

.textanim6 {
  animation-name: slide_anim;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

.imgscale {
  animation-name: scale_anim;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
}

.opacchange {
  animation-name: opac_anim;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
  animation-delay: 0.1s;
  animation-fill-mode: backwards;
}

.navigationt input:checked ~ .menut {
  right: 0;
  padding-right: 0px;
  box-shadow: -20px 0 40px rgba(0,0,0,0.3);
  background-color: #161617;
  opacity: 1;
}

.icons_ver2 {
  /*background-color: green;*/
  display: none;
}

.big-buttons-2 {
  display: none;
}

.big-buttons-2b {
  display: none;
}

#mobile_footer {
  display: none;
}

.testrs{
  display: none;
}

.testrs2{
  display: none;
}

.testrs-footer{
  display: none;
}

@media screen and (max-width: 1300px) {
  .card_tags {
    display: none;
  }
  
  .card_tags_small {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 25px;
  }
}


@media screen and (max-width: 1200px) {

.details {
  display: none;
}

.details_medsmall {
  display: flex;
  margin-left: 20vw;
  margin-right: 20vw;
  justify-content: space-between;
  margin-bottom: 50px;
}

.details_medsmall2 {
  /*margin-bottom: 100px;*/
  display: none;
}

/*.details_medmed {
  display: flex;
  margin-left: 20vw;
  margin-right: 20vw;
  justify-content: space-between;
  margin-bottom: 25px;
}*/

}

@media screen and (max-width: 992px) {

  #background-video { display: none; }
    /*body {
      background: url("waves_color_image.jpg") no-repeat;
      background-size: cover;
    }*/

    .homep {
      background: url("waves_color_image.jpg") no-repeat;
      background-size: cover;
    }

    .iframe_container {
      position: relative;
      overflow: hidden;
      width: 100%;
      padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
      margin-bottom: 60px;
    }

    .case_st_cards {
      display: block;
      /*justify-content: space-between;*/
      /*align-items: center;*/
      /*align-items: center;*/

      /*margin-left: 6vw;
      margin-right: 6vw;*/
    }

    .indiv_card {
      /*width: 27vw;*/
      /*text-align: center;*/
      width: 100%;
      background-color: rgba(255, 255, 255, 0.07);
      /*background-color: orange;*/
      padding-bottom: 5px;
      margin-bottom: 25px;
    }

    .card_tags {
      /*display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 25px 25px;*/

      display: none;
    }

    .card_tags_small {
      display: none;
    }

    .card_tags_supersmall {
      display: none;
    }

    .card_tags_mobile1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 25px 25px;
    }

    /*.card_tags_supersmall {
      display: block;
      margin: 25px 25px;
    }*/

    .tago {
      padding: 5px 15px;
      margin-top: 5px;
      margin-bottom: 5px;
      background-color: rgba(169, 162, 246, 0.15);
      /*background-color: rgba(169, 162, 246, 0.75);*/
      border: 3px solid rgba(169, 162, 246, 1);
      color: rgba(169, 162, 246, 1);
      /*color: #373752;*/
      border-radius: 25px;
    }

    .sidebyside {
      display: block;
    }

    #title2{
      text-align: center;
    }

    .imgtitle {
      margin-bottom: 1px;
      padding-top: 50px;
      color:#fefefe
    }

    .details {
      display: none;
    }

    .details_medsmall2 {
      display: block;
      margin-left: 10vw;
      margin-right: 10vw;
      /*justify-content: space-between;*/
      margin-bottom: 50px;
    }

    .myemail_div {
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 10vw;
      margin-right: 10vw;
      /*display: flex;
      justify-content:space-between;*/
      /*background-color: orange;*/
      text-align: center;
    }

    /*.case_st {
      background-color: #0d0d0d;
    }*/

    .big-text {
      text-align: center;
      margin-left: 10vw;
      margin-right: 10vw;
      margin-bottom: 100px;
      margin-top: 50px;
      /*color: rgba(255, 255, 255, 0.25);*/
    }

    .big-text-only {
      text-align: center;
      margin-left: 20vw;
      margin-right: 20vw;
      margin-bottom: 20px;
      margin-top: 60px;
    }

    .big-text-2 {
      text-align: center;
      margin-left: 10vw;
      margin-right: 10vw;
      margin-bottom: 100px;
      margin-top: 25px;
    }

    .big-text-2aa {
      text-align: center;
      margin-left: 10vw;
      margin-right: 10vw;
      margin-bottom: 20px;
      margin-top: 25px;
    }

    .big-text-3 {
      text-align: center;
      margin-left: 10vw;
      margin-right: 10vw;
      margin-bottom: 100px;
      margin-top: 50px;
    }

    p {
      margin-top: 2px;
      margin-bottom: 2px;
      margin-left: 1px;
      margin-right: 1px;
    }

    .newone {
      /*text-align: left;*/
      /*background-color: #68639F;*/
      display: block;
      margin-left: 10vw;
      margin-right: 10vw;
      /*padding-left: 20vw;
      padding-right: 20vw;*/
    }

    .newone-spec {
      /*text-align: left;*/
      /*background-color: #68639F;*/
      display: block;
      margin-left: 10vw;
      margin-right: 10vw;
      margin-bottom: 75px;
      /*padding-left: 20vw;
      padding-right: 20vw;*/
    }
    
    .newone2 {
      /*text-align: left;*/
      /*background-color: #68639F;*/
      display: block;
      margin-left: 10vw;
      margin-right: 10vw;
      margin-top: 50px;
      /*padding-left: 20vw;
      padding-right: 20vw;*/
    }
    
    .newleft {
      /*display: inline-block;*/
      /*background-color: blue;*/
      padding-top: 0.5px;
      padding-bottom: 0.5px;
      padding-left: 1px;
      padding-right: 1px;
      /*flex: 1 0 50%;*/
      /*width: 40%;*/
    }

    .newleft-a {
      display: none;
    }

    .newone-mobile {
      display: block;
      margin-left: 10vw;
      margin-right: 10vw;
      margin-top: 50px;
    }
    
    .newright {
      /*display: inline-block;*/
      /*background-color: red;*/
      /*flex: 1 0 50%;*/
      padding-left: 1px;
      padding-right: 1px;
      /*padding-right: 20%;*/
      /*width: 40%;*/
    
    }

    .newright-a {
      display: none;
    
    }
    
    .newleft2 {
      /*display: inline-block;*/
      /*background-color: red;*/
      margin-right: 10px;
      /*flex: 1 0 10%;*/
      /*padding-right: 20%;*/
      /*width: 40%;*/
    }
    
    .newright2 {
      /*display: inline-block;*/
      /*background-color: red;*/
      margin-left: 10px;
      /*flex: 1 0 10%;*/
      /*padding-right: 20%;*/
      /*width: 40%;*/
    }
    
    .newright3 {
      margin-left: 10vw;
      margin-right: 10vw;
      margin-top: 25px;
    }

    .subtitle_div_2 {
      margin-top: 25px;
      margin-bottom: 25px;
      margin-left: 10vw;
      margin-right: 10vw;
      /*margin-left: 20vw;
      margin-right: 20vw;*/
      /*display: flex;
      justify-content:space-between;*/
      /*background-color: orange;*/
      text-align: left;
    }

    .case_st {
      /*background: url("waves_color_image.jpg") no-repeat;
      background-size: cover;*/
      background-color: #161617;
    }

    #sub_subemail{
      padding-top: 10px;
      font-size: 1rem;
      /*color: #d5e82a;*/
      color: rgba(255, 255, 255, 0.8);
    }

    /*p {
      margin-top: 25px;
      margin-bottom: 25px;
      margin-left: 10vw;
      margin-right: 10vw;
    }*/

    #linkmargin {
      margin-bottom: 50px;
      margin-top: 5px;
    }

    .details{
      display: none;
    }
    
    .li_wide {
      margin-top: 70px;
      margin-bottom: 70px;
      margin-left: 10vw;
      font-size: 1.618rem;
      line-height: 200%;
      /*color: rgba(213, 232, 42, 0.65);*/
      color: #fefefe;
      }

      .title_div_comingup {
        margin-top: 25px;
        padding-bottom: 216px;
        margin-left: 10vw;
        margin-right: 10vw;
        /*display: flex;
        justify-content:space-between;*/
        /*background-color: orange;*/
        text-align: center;
      }

      .title_div_contactme {
        margin-top: 25px;
        padding-bottom: 25px;
        margin-left: 10vw;
        margin-right: 10vw;
        /*display: flex;
        justify-content:space-between;*/
        /*background-color: orange;*/
        text-align: center;
      }

    /*.details_medsmall {
      margin-bottom: 100px;
      margin-left: 10vw;
      margin-right: 10vw;
    }*/

    .details_medsmall {
      /*margin-bottom: 100px;*/
      display: none;
    }

    .img_p_div_link_title {
      margin-top: 25px;
      margin-bottom: 25px;
      margin-left: 10vw;
      margin-right: 10vw;
      /*display: flex;
      justify-content:space-between;*/
      /*background-color: orange;*/
      text-align: center;
    }

    /*.details_medmed {
      display: flex;
      margin-left: 10vw;
      margin-right: 10vw;
      justify-content: space-between;
      margin-bottom: 25px;
    }*/
    
    .img_p_div {
      margin-top: 50px;
      margin-bottom: 50px;
      margin-left: 10vw;
      margin-right: 10vw;
      /*display: flex;
      justify-content:space-between;*/
      /*background-color: orange;*/
      text-align: center;
    }

    .img_p_div_2 {
      margin-top: 5px;
      margin-bottom: 5px;
      margin-left: 10vw;
      margin-right: 10vw;
      /*display: flex;
      justify-content:space-between;*/
      /*background-color: orange;*/
      text-align: center;
    }

    .img_p_div_link {
      margin-top: 50px;
      margin-bottom: 5px;
      margin-left: 10vw;
      margin-right: 10vw;
      /*display: flex;
      justify-content:space-between;*/
      /*background-color: orange;*/
      text-align: center;
    }
    
    .title_div {
      margin-top: 25px;
      margin-bottom: 96px;
      margin-left: 10vw;
      margin-right: 10vw;
      /*display: flex;
      justify-content:space-between;*/
      /*background-color: orange;*/
      text-align: center;
    }

    .title_div2 {
      margin-top: 25px;
      margin-bottom: 96px;
      margin-left: 10vw;
      margin-right: 10vw;
      /*display: flex;
      justify-content:space-between;*/
      /*background-color: orange;*/
      text-align: center;
    }
    
    .title_div2a {
      margin-top: 96px;
      margin-bottom: 0px;
      margin-left: 10vw;
      margin-right: 10vw;
      /*display: flex;
      justify-content:space-between;*/
      /*background-color: orange;*/
      text-align: center;
    }

    .subtitle_div {
      color: green;
      margin-top: 25px;
      margin-bottom: 25px;
      margin-left: 10vw;
      margin-right: 10vw;
      /*display: flex;
      justify-content:space-between;*/
      /*background-color: orange;*/
      text-align: left;
    }
    
    .minititle_div {
      margin-top: 25px;
      margin-bottom: 25px;
      margin-left: 10vw;
      margin-right: 10vw;
      /*display: flex;
      justify-content:space-between;*/
      /*background-color: orange;*/
      text-align: left;
    }

  .super-footer{
    display: none;
  }

  .topmenufooter {
    display: none;
  }

  .main-section {
    color: #fefefe;
    padding-top: 120px;
    /*height: 42vw;*/
    /*background-color: red;*/
    /*padding-bottom: 100px;*/
}

@media screen and (max-width: 550px) {
  .card_tags_mobile1 {
    display: none;
  }

  .card_tags_supersmall {
    display: block;
    margin: 25px 25px;
  }

  .tago {
    padding: 5px 15px;
    background-color: rgba(169, 162, 246, 0.15);
    border: 3px solid rgba(169, 162, 246, 1);
    color: rgba(169, 162, 246, 1);
    /*color: #373752;*/
    border-radius: 25px;
    margin-bottom: 15px;
  }
}

  .hamburger, .toggle-menu {
    display: block;
    position: absolute;
  }

  .navigationt {
    padding-right: 12px;
    background-color: #161617;
    
  }

  .topmenu {
    /*padding: 30px 30px;*/
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    /*width: 100vw;*/
    background-color: #161617;
  }

  .menut {
    padding-right: 0px;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #161617;
    width: 100vw;
    height: 100%;
    padding-top: 60px;
    opacity: 0;
  }

  .menut li {
    width: 100%;
    margin-bottom: 0px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
    
  }

  .menut li a {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 24px;
    transition: 0.01s;
    box-shadow: 0 1px 0px rgba(255, 255, 255, 0.1) inset;
    background-color: #161617;
  }

  .menut li a:hover {
    width: 100vw;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 24px;
    background-color: #161617;
    box-shadow: 0 -1px 0px #fefefe inset, 100vw 0 0 rgba(255, 255, 255, 0.03) inset;
  }

  .menut {
    display: none;
  }

  /*------main section---------*/


  /*-----ONE---------*/

  .one{
    display: none;
  }

  .oneb {
    /*width: 100%;*/

    /*display: flex;
    justify-content: center;
    align-content: center;*/

    margin-left: auto;
    margin-right: auto;

    width: 80vw;
    height: 80vw;
    /*height: 100vw;*/

    /*float: left*/;
    /*margin-left: 25px;*/
    
    margin-top: 40px;
    margin-bottom: 40px;

    /*background-color: orange;*/

    /*padding-top: 40px;
    padding-bottom: 40px;*/
  }

.one-childb {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    /*background-color: red;*/
    background-size: 100% 100%;
    border-radius: 0px; /*300px*/
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-image 0.3s ease;
}

/*.one-child:hover {
  border: 3px solid rgba(255, 255, 255, 0.6);
}*/

#one-child-againb {
  background-image: url('pic-o-me-2-noshadow-bnw.png');
  /*transition: 0.3s ease;*/
  /*border: 3px solid rgba(255, 255, 255, 0);
  background-color: #161617;*/
}

/*---- Not hovering here --------*/

/*#one-child-againb:hover {
  background-image: url('dark-pic-stroke-4.png');
}*/

/*---- TWO -----------*/

.two {
  margin-left: 0vw;
  margin-right: 0px;
  padding-left: 0px; /*--was 8px and padding originally--*/
  padding-right: 0px; /*--was 8px and padding originally--*/
  text-align: center;
  height: 100%;
  /*height: 42vw;*/
}

#my-name{
  /*font-size: 6.854rem;*/
  font-size: 4.236rem;
  /*padding-left: 32px;
  padding-right: 32px;*/
}

#profession{
padding-top: 8px;
/*font-size: 4.236rem;*/
font-size: 2.618rem;
color: #A9A2F6;
padding-left: 32px;
padding-right: 32px;
}

#slogan{
padding-top: 40px;
font-size: 2.618rem;
color: rgba(255, 255, 255, 0.8);
padding-left: 32px;
padding-right: 32px;
}

.big-buttons{
  /*display: flex;*/
  /*float: right;*/
  /*align-items: center;*/
  /*margin-top: 56px;*/
  display: none;
}

.icons{
float: right;
background-color: orange;
}

.icons_ver2 {
  background-color: blue;
  width: 100%;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-between;
}

.big-buttons-2 {
  display: block;
  width: 100%;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-between;
  padding-bottom: 32px;
  background-color: rgba(255, 255, 255, 0);
}

.testrs {
  display: block;
  background-color: rgba(255, 255, 255, 0);
  padding-bottom: 32px;
  padding-left: 32px;
  padding-right: 32px;
}

.testrs-footer {
  display: block;
  color: rgba(255, 255, 255, 0.65);
  background-color: rgba(255, 255, 255, 0);
  padding-bottom: 16px;
  padding-top: 250px;
  padding-left: 32px;
  padding-right: 32px;
  text-align: center;
}

.testrs2 {
  display: block;
  background-color: rgba(255, 255, 255, 0);
  /*background-color: orange;*/
  padding-bottom: 32px;
  padding-top: 56px;
  padding-left: 32px;
  padding-right: 32px;
  /*width: 90vw;*/
}

.spaced-horiz {
  display: flex;
  align-items: center;
  width: 100%;
  margin: auto;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.big-buttons-2b {
  /*display: block;*/
  /*width: 100vw;*/
  width: 10%;
  display: flex;
  /*align-items: center;
  margin: auto;
  justify-content: space-between;*/
  padding-bottom: 32px;
  background-color: rgba(255, 255, 255, 0);
}


#cta-buttons{
  color: #fefefe;
  /*float: right;*/
  /*width: 186px;*/
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 0px;
  /*margin-left: 30px;*/
  font-size: 1.618rem;
  /*background-color: #161617;*/
  background-color: rgba(255, 255, 255, 0);
  box-shadow: none;
  border: 3px solid #fefefe;
  transition: transform 0.25s;
}

#cta-buttons-copy{
  color: #fefefe;
  /*float: right;*/
  /*width: 186px;*/
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  /*padding-top: 15px;*/
  padding-top: 56px;
  padding-bottom: 15px;
  /*margin-left: 30px;*/
  font-size: 1.618rem;
  /*background-color: #161617;*/
  background-color: rgba(255, 255, 255, 0);
  box-shadow: none;
  /*border: 3px solid #fefefe;
  transition: transform 0.25s;*/
}


#cta-buttons:hover {
  transform: translate(3px, -5px);
  box-shadow: -3px 3px 0px 0px #fefefe;
}

#cta-buttons-2{
  color: #fefefe;
  /*float: right;*/
  /*width: 186px;*/
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  /*margin-left: 30px;*/
  font-size: 1.618rem;
  /*background-color: #161617;*/
  background-color: #A9A2F6;
  box-shadow: none;
  border: 3px solid #A9A2F6;
  transition: transform 0.25s;
}

#cta-buttons-2:hover {
  background-color: rgba(255, 255, 255, 0);
  border: 3px solid #fefefe;
  transform: translate(3px, -5px);
  box-shadow: -3px 3px 0px 0px #fefefe;
}

#cta-testrs {
  color: #fefefe;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.618rem;
  background-color: #68639F;
  box-shadow: none;
  border: 3px solid #68639F;
  transition: transform 0.25s;
}

#cta-testrs:hover {
  background-color: rgba(255, 255, 255, 0);
  border: 3px solid #fefefe;
  transform: translate(3px, -5px);
  box-shadow: -3px 3px 0px 0px #fefefe;
}

#cta-testrs-2 {
  color: #C2BCFD;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.618rem;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: none;
  border: 3px solid #C2BCFD;
  transition: transform 0.25s;
}

#cta-testrs-2:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0);
  border: 3px solid #fefefe;
  transform: translate(3px, -5px);
  box-shadow: -3px 3px 0px 0px #fefefe;
}

#desktop_footer {
  display: none;
}

#mobile_footer {
  display: block;
  padding-top: 250px;
  padding-bottom: 15px;
}

.my_footer { 
  /*display: flex;*/
  /*align-items: center;*/
  color: #fefefe;
  /*float: right;*/
  width: 100%;
  /*margin-right: 0px;*/
  position: static;
  bottom: 0px;
  right: 0px;
  left: 0px;
  padding-bottom: 15px;
}

#the-footer {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.65);
  width: 100%;
  text-align: center;
}

#shorty-left-2, #shorty-right-2 {
  display: none;
}

}
